.nav-link{
 display: block;
 text-decoration: none;
 width: 100%;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 8px;
}
.nav-link:hover{
 background-color: var(--hover);
}
.hidden{
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
}
.none{
 display: none;
}

.btn{
 width: 40px;
 height: 40px;
 border-radius: 50%;
 border: none;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 color: var(--text);
 background: transparent;
 font-size: 20px;
}

.btn:hover{
 background-color:#dfd6dc3d;
}
/* link styles */
.cta{
 display: block;
 padding: 10px;
 background-color: var(--main-color);
 text-decoration: none;
 transition: background 0.4s;
 outline: 2px solid var(--main-color);
 border-radius: 10px;
 cursor: pointer;
}
.cta:hover{
 color: var(--main-color);
 background-color: transparent;
}
/* First Title */
.secondary-text{
 font-size: 35px;
 font-weight: bold;
}
.primary-text{
 font-size: 40px;
 text-align: center;
}