:root {
  --bg-color: #ffffff;
  --text-color: #313130;
  --hover-color: #f7f4f3;
  --header-bg-color: #f7f4f3;
  --decorative-bg-color: #5f7fdf;
  --primary: rgb(209, 209, 33);
  --font-family: "Open sans", sans-serif;
  --sidebar-w: 18%; /* ancho del sidebar en desktop */
  --header-height: 4rem;
  --box-shadow: #f7f4f3 2.4px 2.4px 3.2px;
  --box-shadow-header: #d9d6d5 0 4px 0;
}
:root.dark {
  --bg-color: #232529;
  --text-color: #e2e3e7;
  --hover-color: #292c31;
  --header-bg-color: #292c31;
  --box-shadow: #35383f 2.4px 2.4px 3.2px;
  --box-shadow-header: #35383f 0 4px 0;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  background-color: var(--decorative-bg-color);
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
}

/*------------------------ TAGS ---------------------*/

html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}
img::selection {
  background: none;
}

p {
  text-align: justify;
  font-size: var(--step-0);
}

progress {
  width: 100%;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: var(--background-color);
}

progress::-webkit-progress-value {
  background-color: var(--primary);
}
:is(h1, h2, h3, h4, h5, h6) {
  color: var(--text-color);
}

:is(span[id])::selection{
  background-color: transparent;
}
/*--------- main styles ---------*/
/*--------- body layout ---------*/
body > .header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-header);
  position: relative;
  z-index: 2;
}

.header > .nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
body > .left {
  width: var(--sidebar-w);
  /* height: calc(100vh - var(--header-height)); */
  height: 100vh;
  /* margin-top: var(--header-height); */
  position: sticky;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  background-color: var(--header-bg-color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: max(1rem, 3vw);
  overflow: hidden;
  /* z-index: -1; */
  transition: transform 0.3s;
}

body > .left.is-visible {
  transform: translateX(0);
}
#menu-btn {
  transform: rotate(180deg);
}
#menu-btn.is-visible {
  transform: rotate(0deg);
}
.left .primary-link {
  color: var(--text-color);
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: transparent;
  font-size: var(--step-0);
}
.primary-link::before {
  content: "";
  width: 0.2rem;
  height: 100%;
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: -1rem;
}
.primary-link.active {
  border-bottom-color: var(--primary);
}
.primary-link.active::before {
  display: none;
}

body > .right.is-visible {
  width: calc(100% - var(--sidebar-w));
  margin-left: var(--sidebar-w);
}

body > .right {
  width: 100%;
  margin: auto;
  transition: all 0.3s;
}

@media screen and (max-width: 968px) {
  body > .left {
    position: static;
    width: 100%;
    height: auto;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
    transform: translateY(-100%);
    position: absolute;
  }

  body > .left.is-visible {
    transform: translateY(0);
    position: static;
  }
  .left .primary-link {
    margin-left: 1rem;
  }
  body > :is(.right, .right.is-visible) {
    width: 100%;
    margin-left: 0;
  }
  #menu-btn {
    transform: rotate(270deg);
  }
  #menu-btn.is-visible {
    transform: rotate(90deg);
  }
}

.nav span[id] {
  cursor: pointer;
  position: relative;
}

.nav span[id]:hover::before {
  opacity: 1;
  visibility: visible;
}

#darkmode-btn::before {
  content: "Change theme";
}

.nav span[id]::before {
  position: absolute;
  top: 0;
  left: -8rem;
  padding-inline: 0.5rem;
  background-color: var(--text-color);
  color: var(--hover-color);
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  font-size: var(--step--1);
}
#language-btn::before {
  content: "Change language";
  left: -9rem;
}
#scrollUp-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--header-bg-color);
  width: 2.5rem;
  height: 2.5rem;
  display: none;
  box-sizing: content-box;
  border-radius: 50%;
  box-shadow: var(--box-shadow) inset;
}

@media screen and (max-width: 768px) {
  #scrollUp-btn {
    display: grid;
    place-content: center;
  }
}
